@import 'main.css';
@import 'perfil.css';
@import 'post.css';
@import 'bootswatch/dist/pulse/bootstrap.min.css';
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
    U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
*::selection {
  background: rgba(205, 181, 228, 0.676);
  color: rgba(26, 25, 27, 0.917);
}

.row-gap {
  gap: initial;
}

@media screen and (max-width: 790px) {
  .row-gap {
    gap: 1rem;
  }
}

.spinner__lazy {
  position: fixed;
  top: 8rem;
  left: 4rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

@media only screen and (min-width: 650px) {
  .gap-2 {
    gap: 0;
  }
  .gap-3 {
    gap: 0.25rem;
  }
  .gap-4 {
    gap: 1.25rem;
  }
}

.ck.ck-content.ck-editor__editable {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (max-width: 550px) {
  .ck.ck-content.ck-editor__editable {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.text-content-size figure {
  object-fit: cover;
  border-radius: 4px;
}

.text-content-size img {
  object-fit: cover;
  border-radius: 4px;
}

/* scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #593196;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #593196;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #7d5caf41;
}
