.link-routes {
  text-decoration: none;
  margin: 10px 5px;
  outline: none;
  padding: 4px;
  transition: 0.4s all ease;
  border-radius: 10%;
}

.link-routes:hover {
  color: rgba(170, 180, 21, 0.9);
  text-decoration: none;
  background-color: rgba(244, 230, 212, 0.5);
}

.register-view {
  width: 100%;
}

@media screen and (max-width: 360px) {
  .register-view {
    width: 100%;
  }
}

.register-img {
  max-width: 100%;
  max-height: 100%;
}

/* @media screen and (min-width: 360px) {
  .register-img {
    width: 100%;
  }
} */

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  color: cornsilk;
}
.contenedor img {
  opacity: 0.89;
  filter: brightness(45%);
}

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 90px) {
  .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2px;
  }
}

/* positions */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.img-404 {
  max-width: 100%;
  max-height: 100%;
}

.img__cover {
  max-width: 100%;
  object-fit: cover;
}

.btn__fixed-trash {
  top: 1rem;
  right: 1rem;
}
.btn__fixed-trash > i {
  backdrop-filter: blur(10px);
}
