.image-account {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 0.5rem;
  width: 100%;
}

.title-account {
  font-size: 25px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.account__img__profile {
  height: 30px;
  object-fit: cover;
  width: auto;
}

.meta-data {
  font-size: 12px;
  box-sizing: border-box;
}

.list-item {
  list-style-type: none;
  display: block;
  padding: 0.3rem;
  border-top: 1px solid #8c8080;
}

.list-item img {
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
}

.count-follow {
  display: inline-block;
}

.file {
  cursor: pointer;
  border: none;
  height: 100%;
  width: 100%;
}

.user__page__img {
  opacity: 1;
  min-width: 100%;
  max-width: 10rem;
  height: auto;
  object-fit: cover;
  box-shadow: 10px 10px 20px #8c8080;
}
